<html>
	<head id="header" role="banner">
	  	
	    {% if title %}
	    <title>{{ title }} - Inventory Management</title>
	    {% else %}
	    <title>Inventory Management</title>
	    {% endif %}
    	<link href="{{url_for('static', filename='css/style.css')}}" rel='stylesheet'>
    	<link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css">
    	<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
		<script src="{{url_for('static', filename='js/jquery.js')}}"></script>
    	<script src="{{url_for('static', filename='js/app.js')}}"></script>
		<script src="{{url_for('static', filename='js/jquery-ui.min.js')}}"></script>
		<script src="{{url_for('static', filename='css/jquery-ui.min.css')}}"></script>
		<script type="text/javascript">
  			var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>
	</head>
  	<body>
	    {% block content %}{% endblock %}
	</body>
</html>