{% extends "base.html" %}
{% block content %}

	<div class="menu" id="main-menu">
		<div class="icon-close" id="close-menu">
        	<img src="{{url_for('static', filename='img/close.png')}}">
      	</div>
      <p id="Logo">Inventory Management</p>
      <div id="user-panel">
      	<img class="user-icon" src="{{url_for('static', filename='img/user-icon.png')}}"></img>
      	<p id="user-name">{{name}}</p>
      </div>
	  
      <br><br>
      <!-- Menu -->
      <ul class="list-menu">
        <li><p align="center">Inventories</p></li>
        <li><p align="center">Users</p></li>
        <li><p align="center">My Items</p></li>
        <li><p align="center" id="messages-icon">My Messages</p></li>
        <li><p align="center" id="logout">Logout</p></li>
      </ul>
    </div>
	
	<div class="menu" id="messages-menu">
	    <div class="icon-close" id="close-messages-menu">
			<img src="{{url_for('static', filename='img/close.png')}}">
        </div>
		<ul class="list-menu">       
	        <li><p align="center">Borrow request</p></li>        
	        <li><p align="center">Transfer request</p></li>	        
	        <li><p align="center">Return request</p></li>
	        <li><p align="center">My borrows</p></li>
	        <li><p align="center">My transfers</p></li>
	        <li><p align="center">My returns</p></li>        
      	</ul>
	</div>

    <!-- Main body -->
    <div class="jumbotron">

      <div class="icon-menu">
        <i class="fa fa-bars"></i>
        <p>Main Menu</p>
      </div>
    
		<div class="flip-container" align="center" id="Inventories">
			<p> Inventories </p>
			<div class="operation-panel-top">
				<img src="{{url_for('static', filename='img/borrow.png')}}" class="operation operation-borrow"/>
				<img src="{{url_for('static', filename='img/return.png')}}" class="operation operation-return"/>
				<img src="{{url_for('static', filename='img/edit.png')}}" class="operation operation-edit"/>
				<img src="{{url_for('static', filename='img/transfer.png')}}" class="operation operation-transfer"/>
				<img src="{{url_for('static', filename='img/scrap.png')}}" class="operation operation-scrap"/>				
				<img src="{{url_for('static', filename='img/delete.png')}}" class="operation operation-delete"/>
			</div>
			<div class="searchbox">
				<img src="{{url_for('static', filename='img/search.png')}}">
				<input type="text" id="search-inventory"></input>
			</div>
			<div class="operation-btns">
				<img class="new-btn" src="{{url_for('static', filename='img/new.png')}}"></img>
				<a href="/static/export_file/export.xls" download="export" id="export-excel">
          			<span class="glyphicon glyphicon-export"></span>
				</a>		
			</div>
			<div id="dialog-form">
				<form action="/import-excel" method=post enctype=multipart/form-data>
			      	 <label for="excel-file">Add from excel file</label>
					 <input type="file" name="choose-excel-file" id="excel-file">
			         <input type=submit value=Import id="submit-excel">
			    </form>
				
  				<p>Or add by filling in the blank</p>
  				<p class="error-msg"><strong>Error:</strong> please check the information.</p>
 
				  <form>
					  <fieldset>
					  	<label for="tag">Tag</label>
					  	<input type="text" name="tag" id="tag" class="text ui-widget-content ui-corner-all">
					    <label for="name">Name</label>
					    <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all">
					    <label for="PN">PN</label>
					  	<input type="text" name="PN" id="PN" class="text ui-widget-content ui-corner-all">
					  	<label for="SN">SN</label>
					  	<input type="text" name="SN" id="SN" class="text ui-widget-content ui-corner-all">
					  	<label for="shipping">Shipping/Source</label>
					  	<input type="text" name="shipping" id="shipping" class="text ui-widget-content ui-corner-all">
					  	<label for="capital">Capital/Expense</label>
					  	<input type="text" name="capital" id="capital" class="text ui-widget-content ui-corner-all">
					  	<label for="disposition">Disposition</label>
					  	<input type="text" name="disposition" id="disposition" class="text ui-widget-content ui-corner-all">
					  	<label for="status">Status</label>
					  	<input type="text" name="status" id="status" class="text ui-widget-content ui-corner-all">
					  	<label for="owner">Owner</label>
					  	<input type="text" name="owner" id="owner" class="text ui-widget-content ui-corner-all">
					   </fieldset>
				  </form>
			</div>
			<div class="flipper">
				<div class="front">
					<!-- 前面内容 -->
					<table class="inventory-table table table-bordered">
					    <thead>
					        <tr>
					        	<th><input type="checkbox" id="check-head"/></th>
					        	<th style="display:none;">id</th>
					        	<th>Tag</th>
					        	<th>Name</th>
					        	<th>PN</th>
					        	<th>SN</th>
					        	<th>Shipping/Source</th>
					        	<th>Capital/Expense</th>
					        	<th>Disposition</th>
					        	<th>Status</th>
					        	<th>Owner</th>
					        	<th>User</th>
					        </tr>
					    </thead>
					    {% for inv in invs%}
					  		<tr>
					  			<td><input type="checkbox" class="check-item"/></td>
					  			<td style="display:none;" class="inventory-id">{{inv.id}}</td>
					    		<td align="center"> {{inv.tag}}</td>
					    		<td align="center"> {{inv.name}} </td>
					    		<td align="center">{{inv.PN}}</td>
					    		<td align="center">{{inv.SN}}</td>
					    		<td align="center">{{inv.shipping}}</td>
					    		<td align="center">{{inv.capital}}</td>
					    		<td align="center">{{inv.disposition}}</td>
					    		<td align="center">{{inv.status}}</td>
					    		<td align="center">{{inv.owner}}</td>
					    		<td></td>
					   		</tr>
					  	{% endfor %}
					</table>
					
				</div>
				<div class="back">
					<!-- 背面内容 -->
					<!-- 前面内容 -->
					<table class="inventory-search-table">
					    
					</table>
				</div>
			</div>
			<div class="operation-panel-bottom">
				<img src="{{url_for('static', filename='img/borrow.png')}}" class="operation operation-borrow"/>
				<img src="{{url_for('static', filename='img/return.png')}}" class="operation operation-return"/>
				<img src="{{url_for('static', filename='img/edit.png')}}" class="operation operation-edit"/>
				<img src="{{url_for('static', filename='img/transfer.png')}}" class="operation operation-transfer"/>
				<img src="{{url_for('static', filename='img/scrap.png')}}" class="operation operation-scrap"/>				
				<img src="{{url_for('static', filename='img/delete.png')}}" class="operation operation-delete"/>
			</div>
		</div>
		
		<div class="flip-container" align="center" id="Users">
			<p> Users </p>
			<div class="flipper">
				<div class="front">
					<table class="table table-bordered">
					    <thead>
					        <tr><th><input type="checkbox" id="check-head-user"/></th><th>Username</th><th>Email</th></tr>
					    </thead>
					    {% for inv in invs%}
					  		<tr>
					  			<td><input type="checkbox" class="check-item-user"/></td>
					  			
					    		<td align="center"> {{inv.username}}</td>
					    		<td align="center"> {{inv.email}} </td>
					   		</tr>
					  	{% endfor %}
					</table>
				</div>
				<div class="back">
					<!-- 背面内容 -->
					<p> Things will work out in a manner</p>
				</div>
			</div>
		</div>
		
		<div class="flip-container" align="center" id="MyItems">
			<p> My Items </p>
			<div class="flipper">
				<div class="front">
					<!-- 前面内容 -->
					<p> Have courage and be kind </p>
				</div>
				<div class="back">
					<!-- 背面内容 -->
					<p> Come and have a try! </p>
				</div>
			</div>
		</div>
		
		<div class="flip-container" align="center" id="MyMessages">
			<p> My Messages </p>
			<div class="flipper">
				<div class="front">
					<!-- 前面内容 -->
					<p> Yes, you made it </p>
				</div>
				<div class="back">
					<!-- 背面内容 -->
					<p> Have fun!~~~ </p>
				</div>
			</div>
		</div>
		
		<div class="switch-btn" align="center">
			<img src="{{url_for('static', filename='img/switch.png')}}"/>
		</div>
		
	</div>
{% endblock %}