@charset "utf-8";
/* CSS Document */

/* Initial body */
body {
  left: 0;
  margin: 0;
  overflow: auto;
  position: relative;
}

/* Basic styling */

.jumbotron {
  background-color: #ffffff;
  height: 100%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

/* Initial menu */
.menu {
  background: #202024 url("../img/black-thread.png") repeat left top;
  left: -230px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 230px;
  z-index: 3;
}

.icon-close {
  cursor: pointer;
  float: right;
  margin-right: 1em;
  padding-left: 10px;
  padding-top: 2.5em;
}

#Logo {
	margin-left: 0.8em;
	color: #fff;
	font-family: Calibri;
	font-size: 1.8em;
}

#user-panel {
	margin-top: 4em;
}

.user-icon {
	display: inline;
	float: left;
	margin-left: 1em;
	margin-right: 0.5em;
}

#user-name {
	margin-left: 4em;
	font-family: cursive;
	font-size: 1.2em;
	color: #fff;
}

.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin-top: 1em;
  margin-bottom: 2em;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #636366;
  font-family: consolas;
  line-height: 30px;
  padding-bottom: 3px;
  padding-top: 3px;
}

.list-menu p {
  cursor: pointer;
  color: #fff;
  font-family: consolas;
  font-size: 1.2em;
  text-decoration: none;
  text-transform: Uppercase;
}

.icon-menu {
  cursor: pointer;
  margin-top: 0;
  margin-left: 3.6em;
  padding-top: 2.4em;
  width: 10em;
  height: 2em;
}

.icon-menu p {
  color: #444444;
  font-family: Calibri;
  font-weight: bold;
  font-size: 1.8em;
  text-decoration: none;
  text-transform: uppercase;
}

.switch-btn {
	position: fixed;
	top: 93%;
	left: 50%;
	cursor: pointer;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}

.flip-container > p {
	padding-top: 0.5em;
	font-family: cursive;
	font-weight: bold;
	font-size: 1.5em;
}

/* flip the pane when hovered */
.flip-container.flip .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 97%;
	height: 33em;
}

/* flip speed goes here */
.flipper {
	transition: 1s;
	transform-style: preserve-3d;
	position: relative;
	margin-left: 8em;
	margin-top: 0.3em;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: 0;
	overflow: auto;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	background-color: #eeeeee;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	background-color: #888888;
}

.searchbox {
	display: inline-block;
	margin-top: 0.5em;
	margin-bottom: 0.6em;
}

.searchbox img{
	display: inline;
	margin-right: 0.3em;
}

.operation-btns {
	display: inline-block;
	float: right;
	margin-top: 0.5em;
	margin-right: 2em;
}

.operation-btns img{
	margin-right: 1em;
}

.operation-panel-top {
	display: inline-block;
	float: left;
	margin-left: 8em;
	margin-top: 0.5em;
	margin-bottom: 0.6em;
	padding-left: 3em;
}

.operation-panel-bottom {
	position: fixed;
	margin-left: 8em;
	margin-top: 33em;
	padding-left: 3em;	
}

.operation-panel-top img, .operation-panel-bottom img{
	margin-left: 0.5em;
}

.operation {
	visibility:hidden;
	cursor: pointer;
}

.inventory-table {
	padding-left: 1em;
	padding-top: 0.5em;
}

.new-btn {
	cursor: pointer;
}

label {
	font-family: cursive;
	font-weight: bold;
	display: inline;
	float: left;
	padding-left: 1em;
}

.text{
	float: right;
	margin-right: 2em;
	margin-top: 0.3em;
	display: block;
}

#excel-file {
	margin: 1em 1em 0.5em 1em;
	width: 200px;	
}

#submit-excel {
	margin-left: 1em;
}

#dialog-form p{
	font-family: cursive;
	font-weight: bold;
	margin-left: 1em;
}
